.legend {
  color: #444;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.legend-title {
  font-weight: bold;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-circle {
  display: inline-block;
  border-radius: 50%;
  margin-right: 6px;
  width: 10px; 
  height: 10px;
}

.invalid-btn {
  background-color: #f4f9ff !important;   /* light blue */
  box-shadow: 0 0 6px rgba(0, 102, 204, 0.25) !important; /* faint glow */
}

.invalid-btn:hover {
  background-color: #d9ebff !important;
  transition: 
    background-color 0.2s ease-in-out;
}

.valid-btn {
  background-color: #eeeeee !important;   /* soft light grey */
  border-color: #d5d5d5 !important;       /* faint grey border */
  color: #555555 !important;              /* muted text */
}

.legend-circle.unclass-pt {
  border: 1px solid #777;
}

.custom-legend hr {
  border-top: 1px solid #c4c4c4;
  margin: 5px -8px;
}

.slider-panel hr {
  border-top: 1px solid #c4c4c4;
  margin: 15px -20px;
}

.slider-panel {
  position: absolute;
  cursor: inherit;
  z-index: 450;
  padding: 10px 20px;
  background: rgba(255,255,255,0.9);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  left: 80px; 
  width: 320px;
}

.overlay {
  position: absolute;
  top: 0; left:0; right:0; bottom:0;
  background: rgba(255,255,255,0.8);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 1.2em;
  text-align: center;
  padding: 30px;
  height: 100%;
}

.leaflet-control-layers-list {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}